<div class="content-body">
    <div class="container-fluid">
        <div class="d-flex align-items-center flex-wrap">
            <div class="d-flex align-items-center sp-text mr-auto">
                <a (click)="backClicked()"><i class="fa fa-solid fa-left-long"></i></a>
                <input type="text" placeholder="Search Sub Category" class="search-txt">
            </div>

            <a [routerLink]="['/main-category/sub-category/sub-category-add/'] + mainCategoryId.id" class="view-more xxs-mt-20">Add Sub Category</a>
        </div>

        <div class="table-box white-box mt-30">
            <div class="table-responsive">
                <table class="table">
                    <tbody><tr>
                        <th>Sub Category Name</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>

                    <tr *ngFor="let item of categoryList">
                        <td>{{item.name}}</td>
                        <td>{{item.createDate}}</td>
                        <td>
                            <div class="action">
                               
                                <a  [routerLink]="['/main-category/sub-category/sub-category-edit/',mainCategoryId.id,item.subCategoryId]" style="background: #ffdeff;"><i
                                        class="fa-solid fa-pen-to-square"></i></a>
                                <a  style="background: #e3e9ff;" (click)="deletesubCategory(item.subCategoryId)"><i class="fa-solid fa-trash"></i></a>
        
                            </div>  
                        </td>
                    </tr>

                
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>