<div class="content-body">
    <div class="container-fluid">
  
        <div class="mt-30 d-flex align-items-center">
            <h3 class="mr-auto">Product List</h3>
            <a [routerLink]="['/product-list/add']" class="view-more">Add Product</a>
        </div>
  
        <div class="mt-30 table-box">
            <table class="table">
               
                <tr>
                    <th>Product Name</th>
                    <th>Product Image</th>
                    <th>Quantity</th>
                    <th>Category Name</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
  
             
                <tr>
                    <td>..0</td>
                    <td>..0</td>
                    <td>..0</td>
                    <td>..0</td>
                    <td>..0</td>
                    <td>..0</td>
                </tr>
                <tr>
                    <td>..1</td>
                    <td>..1</td>
                    <td>..1</td>
                    <td>..1</td>
                    <td>..1</td>
                    <td>..1</td>
                </tr>
                <tr>
                    <td>..2</td>
                    <td>..2</td>
                    <td>..2</td>
                    <td>..2</td>
                    <td>..2</td>
                    <td>..2</td>
                </tr>

                <tr>
                    <td>..3</td>
                    <td>..3</td>
                    <td>..3</td>
                    <td>..3</td>
                    <td>..3</td>
                    <td>..3</td>
                </tr>

                <tr>
                    <td>..0</td>
                    <td>..0</td>
                    <td>..0</td>
                    <td>..0</td>
                    <td>..0</td>
                    <td>..0</td>
                </tr>
  
            </table>
        </div>
    </div>
  </div> 