<div class="content-body">
    <div class="container-fluid">
        <div class="d-flex align-items-center flex-wrap">
            <div class="d-flex align-items-center sp-text mr-auto">
                <a (click)="backClicked()"><i class="fa fa-solid fa-left-long"></i></a>
                <h4>Add Category</h4>
            </div>
        </div>

        <form [formGroup]="form">
            <div class="vendor-form mt-30 bg-white pb-60">
                <div class="this_row">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 mb-30 text-center">
                            <h3>Add Category Picture</h3>
                        </div>
                        <div class="col-lg-12 col-md-12 mb-20">
                            <div class="upload_file text-center">
                              <div class="imges-upload mb-0">
                                <div class="imgUp m-auto">
                                  <div class="imagePreview" [ngStyle]="{'background-image': 'url(' + urls[urls.length - 1] + ')'}"></div>
                
                                      <label class="upload button btn btn-primary">
                                        Upload<input type="file" class="uploadFile img" name="bannerimage"
                                          style="width: 0px;height: 0px;overflow: file; border-style: none;" id="bannerimage"
                                          (change)="onselect($event)"  />
                                      </label>
                                  <div></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        <div class="col-lg-12 col-md-12">
                            <label>Main Category Name</label>
                            <input type="text" class="control-form" formControlName="name" noSpacesAtStart>
                            <div *ngIf="submitted && f['name'].errors" class="help-block">
                                <div *ngIf="f['name'].errors['required']" style="color: #fd0000;">Category Name
                                    is
                                    required</div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <label>Description</label>
                            <textarea type="text" class="control-form" formControlName="description"
                                noSpacesAtStart></textarea>
                        </div>
                        <div class="col-lg-12 col-md-12 mt-40 text-center">
                            <button class="btn_blue " type="submit" (click)="postCategory()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="success-messLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content warning-content">
            <div class="modal-body text-center warning-mess-sec">
                <button type="button" class="close float-right" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <img src="assets\img\check.png">
                <h2>Success </h2>
                <p>Thanks for placing category request. Your request will be processed in 24 hrs.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class=" btn_blue">OK</button>
            </div>
        </div>
    </div>
</div>