<div class="content-body">
    <div class="container-fluid">
        <div class="d-flex align-items-center flex-wrap search-bar">
            <div class="d-flex align-items-center sp-text mr-auto">
                <i class="fa fa-search"></i>
                <input type="text" placeholder="Search Restaurant" class="search-txt">
            </div>
            <a [routerLink]="['/restaurant-list/add-restaurant']" class="view-more xxs-mt-20">Add Restaurant</a>
        </div>

        <div class="table-box white-box mt-30">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Restaurant Name</th>
                            <th>Address</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>


                        <tr
                        *ngFor="let item of list  | paginate: {itemsPerPage: 5, currentPage: page, totalItems: totalItems,id: '1' }  ">
                        <td class="profile">
                            {{item.restaurantName}}
                        </td>
                        <!-- <td class="profile"> <img class="img-responsive" [src]="rootUrl + item?.profilepic"></td> -->
                        <td>{{item.restaurantName}}</td>
                        <td>{{item.createDate}}</td>
                        <td>{{item.status}}</td>
                        <div class="action">
                            <a [routerLink]="['/restaurant-list/restaurant-details/' + item.userId]" style="background: #d1fde6;"><i class="fa fa-eye"></i></a>
                            <a [routerLink]="['/restaurant-list/edit-restaurant/' + item.userId]"  style="background: #ffdeff;"><i
                                    class="fa-solid fa-pen-to-square"></i></a>
                            <a  style="background: #e3e9ff;"><i class="fa-solid fa-trash"></i></a>

                        </div>
                       </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="((page = $event))" id="1" (pageIndex)="page"
                class="paginate-doctor-list" queryParamsHandling="merge" (pageChange)="onPageChange($event)">
            </pagination-controls>
            </div>
        </div>
    </div>
</div>