<div class="content-body">
    <div class="container-fluid">
        <div class="d-flex align-items-center flex-wrap">
            <div class="d-flex align-items-center sp-text mr-auto">
                <a (click)="backClicked()"><i class="fa fa-solid fa-left-long"></i></a>
                <h4>Restaurant Details</h4>
            </div>
            <a [routerLink]="['/restaurant-list/restaurant-details/product-list']"
                class="view-more xxs-mt-20">Products</a>
        </div>
        <div class="object-product-detail-img image-back mt-40 mx-auto" style="background: #fff; ">
            <img class="image" [src]="rootUrl + userDetail?.profilePic">
        </div>

        <div class="vendor-form">
            <h3>User Details</h3>
            <div class="vendor-form mt-20" style="background: #fff; padding-bottom: 60px;">
                <div class="this_row">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <dl class="d-flex inform_text">
                                <dt>Full Name:</dt>
                                <dd>{{userDetail?.firstName}} {{userDetail?.lastName}}</dd>
                            </dl>
                            <dl class="d-flex inform_text">
                                <dt>Gender:</dt>
                                <dd>{{userDetail?.gender}}</dd>
                            </dl>
                            <dl class="d-flex inform_text">
                                <dt>Country:</dt>
                                <dd>{{userDetail?.countryName}}</dd>
                            </dl>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <dl class="d-flex inform_text">
                                <dt>Phone Number:</dt>
                                <dd>{{userDetail?.dialCode}} {{userDetail?.phoneNumber}}</dd>
                            </dl>
                            <dl class="d-flex inform_text">
                                <dt> Email:</dt>
                                <dd>{{userDetail?.email}} </dd>
                            </dl>
                            <dl class="d-flex inform_text">
                                <dt> State:</dt>
                                <dd>{{userDetail?.stateName}} </dd>
                            </dl>
                        </div>

                    </div>
                </div>
            </div>
            <div class="mt-30">
                <h3>Restaurant Details</h3>
                <div class="vendor-form mt-10" style="background: #fff; padding-bottom: 60px;">
                    <div class="this_row">
                        <div class="row ">
                            <div class="col-lg-6 col-md-12">
                                <dl class="d-flex inform_text">
                                    <dt>Restaurant Name:</dt>
                                    <dd>{{restaurantDetail?.name}}</dd>
                                </dl>

                                <dl class="d-flex inform_text">
                                    <dt>Create Date:</dt>
                                    <dd>{{restaurantDetail?.createDate}}</dd>
                                </dl>
                                <dl class="d-flex inform_text">
                                    <dt>Opening Time:</dt>
                                    <dd>{{restaurantDetail?.openingTime}}</dd>
                                </dl>
                                <dl class="d-flex inform_text">
                                    <dt>Country:</dt>
                                    <dd>{{restaurantDetail?.countryName}}</dd>
                                </dl>
                             
                                <dl class=" inform_text">
                                    <dt>Address :</dt>
                                    <dd>
                                        {{restaurantDetail?.streetAddress}}</dd>
                                </dl>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <dl class="d-flex inform_text">
                                    <dt>Phone Number:</dt>
                                    <dd>{{restaurantDetail?.phoneNumber}}</dd>
                                </dl>
                                <dl class="d-flex inform_text">
                                    <dt>Tax Applicable:</dt>
                                    <dd>{{restaurantDetail?.taxApplicable}}</dd>
                                </dl>
                                <dl class="d-flex inform_text">
                                    <dt>Closing TIme:</dt>
                                    <dd>{{restaurantDetail?.closingTime}}</dd>
                                </dl>
                                <dl class="d-flex inform_text">
                                    <dt>State:</dt>
                                    <dd>{{restaurantDetail?.stateName}}</dd>
                                </dl>
                                <dl class="d-flex inform_text">
                                    <dt>Staus:</dt>
                                    <dd>{{restaurantDetail?.status}}</dd>
                                </dl>
                               
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>