<div class="content-body">
    <div class="container-fluid">
        <div class="d-flex align-items-center flex-wrap">
            <div class="d-flex align-items-center sp-text ">
                <i class="fa fa-search"></i>
                <input type="text" placeholder="Search Main Category" class="search-txt">
            </div>

            <a [routerLink]="['/main-category/main-category-add']" class="view-more xxs-mt-20">Add Category</a>
        </div>

        <div class="table-box white-box mt-30">
            <div class="table-responsive">
                <table class="table">
                    <tbody><tr>
                        <th>Category Name</th>
                        <th>Category Image</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>

                    <tr *ngFor="let item of categoryList">
                        <td>{{item.name}}</td>
                        <td><img  [src]="rootUrl + item?.categoryImage" class="img-responsive"></td>
                        <td>{{item.createDate}}</td>
                        <td>
                            <div class="action">
                                <a [routerLink]="['/main-category/sub-category/'] + item.mainCategoryId" style="background: #d1fde6;"><i class="fa fa-eye"></i></a>
                                <a  [routerLink]="['/main-category/main-category-edit/']  + item.mainCategoryId " style="background: #ffdeff;"><i
                                        class="fa-solid fa-pen-to-square"></i></a>
                                <a  style="background: #e3e9ff;" (click)="deleteMainCategory(item.mainCategoryId)"><i class="fa-solid fa-trash"></i></a>
        
                            </div>  
                        </td>
                    </tr>

                 

                  
                </tbody></table>
                <div class="no-data text-center" *ngIf="categoryList?.length < 1">
                    <img src="/assets/images/NO DATA.png">
                </div>
            </div>
        </div>
    </div>
</div>