<div class="login-outer">

    <div class="login-items input-forms">
        <div><img src="assets/images/logo.png" style="max-width: 140px;"></div>
        <div class="mt-40"></div>

        <h2>Login Account</h2>
        <span>Let's get you started!</span>

        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="mt-30"></div>
            <div class="form-landing">
                <input type="text" class="form-control user" placeholder="Username" formControlName="emailOrPhone"
                    [ngClass]="{ 'is-invalid': submitted && f['emailOrPhone'].errors }">
                <div *ngIf="submitted && f['emailOrPhone'].errors" class="help-block" style=" color: #fd0000;
                text-align: center;">
                    <div *ngIf="f['emailOrPhone'].errors['required']" >Email or Phone is required
                    </div>
                </div>


                <input type="password" class="form-control password" placeholder="Password" formControlName="password"
                    [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
                <div *ngIf="submitted && f['password'].errors" class="help-block"
                    [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" style=" color: #fd0000;
                    text-align: center;">
                    <div *ngIf="f['password'].errors['required']">
                        Password is
                        required</div>
                </div>
            </div>
            <!-- <div class="signed-in text-center">
                <input type="checkbox" class="">
                <a href="#">Keep me signed in</a>
            </div> -->

            <input type="submit" value="Log In">

            <!-- <div class="remember-me">
             <p>New to Maxemus<a href="#"> Create Account</a></p>
             <p>Need Help<a href="#"> Contact support</a></p>           
         </div> -->
        </form>
    </div>

</div>