<div class="login-outer">

    <div class="login-items input-forms">
         <div><img src="assets/images/logo.png" style="max-width: 140px;"></div>
         <div class="mt-40"></div>

         <h2>Login Account</h2>
         <span>Let's get you started!</span>
         <div class="mt-30"></div>

         <input type="text" class="form-control user" placeholder="Username">
         <input type="password" class="form-control password" placeholder="Password">

         <div class="signed-in text-center">
             <input type="checkbox" class="">
             <a href="#">Keep me signed in</a>
         </div>

         <input type="submit" value="Log In">

         <!-- <div class="remember-me">
             <p>New to Maxemus<a href="#"> Create Account</a></p>
             <p>Need Help<a href="#"> Contact support</a></p>           
         </div> -->

     </div>           
     
 </div>