<div class="dashboard-outer">
  
    <header>
      
        <div class="search-box xs-d-none">
            <input type="text"  placeholder="Search Products">
          </div>
        <ul class="ml-auto header-outer">
            <li class="notification_dropdown li-current">
                <a class="setting" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa-solid fa-bell"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" >Action</a>
                  <a class="dropdown-item" >Another action</a>
                   <a class="dropdown-item" >Something else here</a>
                </ul>
            </li>
  
            <li class="header-profile ">
                <a class="setting" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="logouts()">
                    <i class="fa-solid fa-power-off"></i> Logout 
                </a>
              
  
        </ul>
    </header>
  
    <section>
        
        <aside class="side-bar">
            <div class="nav-header xs-d-none">
                <a  class="brand-logo">
        
                    <img class="logo-abbr" src="/assets/images/logo.png" alt="">
                    <!-- <img class="logo-abbr" src="assets/images/abso.png" alt="">
                    <img class="logo-compact" src="assets/images/logo-text.png" alt="">
                    <img class="brand-title" src="assets/images/logo-text.png" alt=""> -->
                </a>
            
                <!-- <div class="nav-control">
                    <div class="hamburger nav-toggle">
                        <span class="line"></span><span class="line"></span><span class="line"></span>
                    </div>
                </div> -->
               
            </div>
            <div class="menu mt-20">
                <div class="item">
                    <a [routerLink]="['/dashboard']" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}"> <span>Dashboard</span> <i class="fa fa-dashboard"></i></a>
                </div>
  
                <div class="item">
                    <a [routerLink]="['/restaurant-list']" routerLinkActive="active"> <span>Restaurant</span><i class="fa-solid fa-utensils"></i></a>
                </div>
                <div class="item">
                    <a [routerLink]="['/admin-profile']" routerLinkActive="active"> <span>Profile </span> <i class="fa-solid fa-list"></i></a>
                </div>
  
                <div class="item">
                    <a [routerLink]="['/notification']" routerLinkActive="active"> <span>Notification</span><i class="fa-solid fa-table-cells"></i></a>
                </div>
  
                <div class="item">
                  <a [routerLink]="['/privacy-policy']" routerLinkActive="active"> <span>Privacy Policy</span><i class="fa fa-archive"></i></a>
              </div>
              <div class="item">
                  <a [routerLink]="['/terms-condition']" routerLinkActive="active"> <span>Terms & Condition </span><i class="fa-solid fa-envelope-open-text"></i></a>
              </div>
------------------------------------------


              <div class="item">
                <a [routerLink]="['/order-list']" routerLinkActive="active">
                  <span>Order List</span><i class="fa-solid fa-id-badge"></i></a>
            </div>
            <div class="item">
                <a [routerLink]="['/product-list']" routerLinkActive="active">
                  <span>Product</span><i class="fa-solid fa-id-badge"></i></a>
            </div>


               <div class="item">
                <a [routerLink]="['/main-category']" routerLinkActive="active">
                  <span>Category</span><i class="fa-solid fa-id-badge"></i></a>
            </div>
  
                <div class="item">
                    <a [routerLink]="['/banner-list']" routerLinkActive="active">
                       <span>Banner</span><i class="fa fa-user-secret"></i></a>
                </div>
                <div class="item">
                    <a [routerLink]="['/notification']" routerLinkActive="active">
                      <span>Notification</span><i class="fa fa-file-text-o"></i></a>
                </div>
                <div class="item">
                    <a [routerLink]="['/Restaurant-profile']" routerLinkActive="active">
                      <span>Profile</span><i class="fa fa-file-text-o"></i></a>
                </div>
  
            </div>       
        </aside>
    </section>
  
    <footer></footer>
    <router-outlet></router-outlet>
  </div>