<div class="content-body">
    <div class="container-fluid">
        <div class="top-head">
            <h2>Profile</h2>
        </div>
        <form [formGroup]="form">
         
            <div class="vendor-form bg-white mt-20">
                <div  class="text-center mb-30">
                <h3>Update Profile Picture </h3>
               </div>
                <div class="this_row">
                    <div class="row ">
                        <div class="col-lg-12 col-md-12 mb-40">
                            <div class="upload_file text-center">
                                <div class="imges-upload mb-0">
                                    <div class="imgUp m-auto">
                                        <div class="imagePreview" [ngStyle]="{'background-image': 'url(' + (urls.length > 0 ? urls[urls.length - 1] : '') + ')'}"></div>
                                        <label class="upload button btn btn-primary">
                                            Upload<input type="file" class="uploadFile img" name="bannerimage" style="width: 0px;height: 0px;overflow: hidden; border-style: none;"
                                                id="bannerimage" (change)="onselect($event)">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- <div class="col-lg-12 col-md-12 mb-20">
                            <div class="upload_file text-center">
                              <div class="imges-upload mb-0">
                                <div class="imgUp m-auto">
                                  <div class="imagePreview" [ngStyle]="{'background-image': 'url(' + urls[urls.length - 1] + ')'}"></div>
                
                                      <label class="upload button btn btn-primary">
                                        Upload<input type="file" class="uploadFile img" name="bannerimage"
                                          style="width: 0px;height: 0px;overflow: file; border-style: none;" id="bannerimage"
                                          (change)="onselect($event)"  />
                                      </label>
                                  <div></div>
                                </div>
                              </div>
                            </div>
                          </div> -->

                        <div class="col-lg-12">
                            <h3>Personal Detail </h3>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <label>First Name</label>
                            <input type="text" formControlName="firstName" class="control-form ">
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <label>Last Name
                            </label>
                            <input type="text" class="control-form " formControlName="lastName">
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <label>Email</label>
                            <input type="email" class="control-form " formControlName="email">
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <label>Gender
                            </label>
                            <select type="text" class="control-form " formControlName="gender">
                                <option>Select</option>
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <label>Country</label>
                            <select type="text" class="control-form" formControlName="countryId">
                                <option [selected]="true">United States </option>
                            </select>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <label>State</label>
                            <select type="text" class="control-form" formControlName="stateId">
                                <option value="" selected>Choose State</option>
                                <option *ngFor="let app of statesLists" [ngValue]="app?.stateId">{{app?.stateName}}
                                </option>
                            </select>
                            <!-- <label *ngIf="stateId?.invalid && submitted != null && !submitted" class="invalid-formdata">
                                State is required.
                            </label> -->
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <label>Dial Code</label>
                            <input type="text" class="form-control " formControlName="dialCode" OnlyNumbers [readonly]="true" style="background-color: rgb(218, 231, 243);" >
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <label>Phone Number </label>
                            <input type="text" class="control-form " formControlName="phoneNumber" OnlyNumbers>
                        </div>
                    </div>
                </div>
           
          
       
            <div class="vendor-form bg-white ">
                <div class="col-lg-12 col-md-12  text-center">
                    <button class="border-btn" type="submit" value="" data-toggle="modal" data-target="#cancel-mess">Cancel</button>
                    <button class="btn_blue " type="submit" value=""  >Submit</button>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>

<!-- modal3 -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog max_sf modal-dialog-centered" role="document"
        style="border-radius:15px; overflow:hidden; border:none;">
        <div class="modal-content popup_advance">
            <button type="button" class="close" data-dismiss="modals" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body text-center">
                <div class="imagePreview vendor-preview">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="vendorpreview" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog max_sf modal-dialog-centered" role="document"
        style="border-radius:15px; overflow:hidden; border:none;">
        <div class="modal-content popup_advance">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body text-center">
                <div class="imagePreview vendor-preview">
                    <img class="image">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal For cancel Button-->
<div class="modal fade" id="cancel-mess" tabindex="-1" role="dialog" aria-labelledby="cancel-messLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content warning-content">
        
        <div class="modal-body text-center warning-mess-sec">
            <button type="button" class="close float-right" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            <img src="assets\img\warning.png">
            <h2>Alert</h2>
          <p>Are You Sure, You want to Cancel it?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class=" border-btn" data-dismiss="modal">Close</button>
          <button type="button" class=" btn_blue" (click)="cancel()">Yes, Cancel It</button>
        </div>
      </div>
    </div>
  </div>



