<div class="content-body">
  <div class="container-fluid">

    <div class="d-flex align-items-center flex-wrap">
        <div class="d-flex align-items-center sp-text  mr-auto">

            <i class="fa fa-solid fa-house"></i>
            <h4>Dashboard</h4>
        </div>
        <!-- <div>
            <button class="btn_blue " type="submit">Passcode</button>
        </div> -->
       
        <a  class="xxs-mt-20 overinfo">
          <button class="btn_pass " type="submit"  data-toggle="modal" data-target="#myModal3" >Passcode</button>
        </a>

    </div>

<div class="bx-view column-two mt-30">
    <div class="bx-ads color-1">
        <div>
            <p>Weekly Sales</p>
            <h3>$ 15,0000</h3>
            <span>Increrased By 60%</span>
        </div>
    </div>
    <div class="bx-ads color-2">
        <div>
            <p>Weekly Sales</p>
            <h3>$ 15,0000</h3>
            <span>Increrased By 60%</span>
        </div>
    </div>
    <div class="bx-ads color-3">
        <div>
            <p>Weekly Sales</p>
            <h3>$ 15,0000</h3>
            <span>Increrased By 60%</span>
        </div>
    </div>
</div>

<div class="mt-30">
    <div class="row mb-30">
        <div class="col-md-8">
            <img src="/assets/images/1.png" alt="" class="img-responsive"> 
        </div>
        <div class="col-md-4 xs-mt-30">
            <img src="/assets/images/2.png" alt="" class="img-responsive">

        </div>
    </div>
</div>


  </div>
</div> 



<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog max_sf modal-dialog-centered" role="document"
        style="border-radius:15px; overflow:hidden; border:none;">
        <div class="modal-content popup_advance">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body text-center">
                <div class="imagePreview vendor-preview">
          <input type="text">
                </div>
            </div>
        </div>
    </div>
</div>