<div class="content-body">
  <div class="container-fluid">

      <div class="mb-30">
          <h2>Dashboard</h2>
      </div>

      <hr class="mt-40">

      <div class="mt-30 d-flex align-items-center">
          <h3 class="mr-auto">User Request</h3>
          <!-- <a href="#" class="view-more">View All</a> -->
      </div>

      <div class="mt-30 table-box">
          <table class="table">
              <tr>
                  <th>Sr.No</th>
                  <th>Appointment Date</th>
                  <th>Assigned To</th>
                  <th>Time</th>
                  <th>Status</th>
                  <th>Action</th>
              </tr>


        
              <tr>
                <td>..0</td>
                <td>..0</td>
                <td>..0</td>
                <td>..0</td>
                <td>..0</td>
                <td>..0</td>
            </tr>
            <tr>
                <td>..1</td>
                <td>..1</td>
                <td>..1</td>
                <td>..1</td>
                <td>..1</td>
                <td>..1</td>
            </tr>
            <tr>
                <td>..2</td>
                <td>..2</td>
                <td>..2</td>
                <td>..2</td>
                <td>..2</td>
                <td>..2</td>
            </tr>

            <tr>
                <td>..3</td>
                <td>..3</td>
                <td>..3</td>
                <td>..3</td>
                <td>..3</td>
                <td>..3</td>
            </tr>

            <tr>
                <td>..0</td>
                <td>..0</td>
                <td>..0</td>
                <td>..0</td>
                <td>..0</td>
                <td>..0</td>
            </tr>

          </table>
      </div>


  </div>
</div> 