<div class="content-body">
    <div class="container-fluid">
        <div class="d-flex align-items-center flex-wrap">
            <div class="d-flex align-items-center sp-text ">
                <i class="fa fa-search"></i>
               <input type="text" placeholder="Search Order" class="search-txt">
            </div>
            
        </div>
        <div class="table-box white-box mt-40">
            <div class="row space-col-30 mb-30">
                <div class="col-md-3 slt-cate">
                    <label >Order Type</label>
                    <select class="form-control">
                        <option value="">option1</option>
                        <option value="">option2</option>
                        <option value="">option3</option>
                    </select>
                </div>
                <div class="col-md-3 slt-cate">
                    <label >From date</label>
                    <select class="form-control">
                        <option value="">option1</option>
                        <option value="">option2</option>
                        <option value="">option3</option>
                    </select>
                </div>
                <div class="col-md-3 slt-cate">
                    <label >To Date</label>
                    <select class="form-control">
                        <option value="">option1</option>
                        <option value="">option2</option>
                        <option value="">option3</option>
                    </select>
                </div>
                <div class="col-md-3 slt-cate">
                    <label >Search</label>
                    <input type="text" class="form-control" placeholder="Search">
                   
                </div>
                <div class="col-md-3 slt-cate">
                    <label >Payment status</label>
                    <select class="form-control">
                        <option value="">option1</option>
                        <option value="">option2</option>
                        <option value="">option3</option>
                    </select>
                </div>
                <div class="col-md-3 slt-cate">
                    <label >Order Status</label>
                    <select class="form-control">
                        <option value="">option1</option>
                        <option value="">option2</option>
                        <option value="">option3</option>
                    </select>
                </div>
                <div class="col-md-3 slt-cate">
                    <label>&nbsp;</label>
                    <input type="submit" class="view-more" value="Search Now">
                </div>

            </div>
            <div class="table-responsive">
                <table class="table">
                    <tbody><tr>
                        <th>Order ID</th>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Amount</th>
                        <th>P.S</th>
                        <th>Order Type</th>
                        <th>Order Status</th>
                        <th>Action</th>
                    </tr>

                    <tr>
                        <td>List 1</td>
                        <td>List 1</td>
                        <td>List 1</td>
                        <td>List 1</td>
                        <td>List 1</td>
                        <td>List 1</td>
                        <td>List 1</td>
                        <td class="action">
                            <a [routerLink]="['/order-list/order-details']"><i class="fa fa-eye"></i></a>
                        </td>
                    </tr>

                   
                </tbody></table>
                <pagination-controls (pageChange)="((page = $event))" id="1" (pageIndex)="page"
                class="paginate-doctor-list" queryParamsHandling="merge" (pageChange)="onPageChange($event)">
            </pagination-controls>
            </div>

        </div>

    </div>

</div>
